---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

allPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<BaseLayout pageTitle="Blog">


    <h1>Blog</h1>
        
    <ul style="list-style-type: none; padding-left: 0;">
        {allPosts.map((post) => (
            <li style="display: flex; gap: 30px; margin-bottom: 15px;">
                <span style="color: #888; font-family: var(--font-mono); white-space: nowrap;">
                    {post.data.date.toISOString().split('T')[0]}
                </span>

                <a href={`/blog/${post.id}`} style="text-decoration: none;">
                    {post.data.title}
                </a>
            </li>
        ))}
    </ul>

</BaseLayout>
