---
import PostList from '../components/PostList.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

allPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<BaseLayout pageTitle="Blog">


    <h1>Blog</h1>
        
    <PostList posts={allPosts} />

</BaseLayout>
