---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="联系我">
  <h1>Contact</h1>
  
  <p>Email: 3366384549@qq.com</p>
  <p>github: https://github.com/Lasuac-SG</p>
  
</BaseLayout>
