---
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  pageTitle: string;
  description?: string;
  image?: string;
}
const { pageTitle, description, image } = Astro.props;
---
<html lang="zh-CN">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>

    <body style="display: flex; flex-direction: column; min-height: 100vh; margin:0;">
        <div class="container" style="flex:1;">
            <nav>
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
            </nav>
            <main>
                <slot />
            </main>
        </div>

        <Footer />

    </body>





</html>
