---
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import Giscus from '../components/Giscus.astro';

interface Props {
  pageTitle: string;
  description?: string;
  image?: string;
  showComments?: boolean;
}
const { pageTitle, description, image, showComments = false } = Astro.props;
---
<html lang="zh-CN">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>

    <body style="display: flex; flex-direction: column; min-height: 100vh; margin:0;">
        <div class="container" style="flex:1;">
            <nav>
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/moments">随笔</a>
                <a href="/guestbook">留言板</a>
            </nav>
            <main>
                <slot />
                {showComments && <Giscus />}
            </main>
        </div>

        <Footer />

    </body>


    <!-- ==================== Umami 统计代码 ==================== -->
    <script is:inline>
      const isLocal = window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1';
      const isOwner = localStorage.getItem('ignore_analytics') === 'true';
      if (!isLocal && !isOwner) {
        const script = document.createElement('script');
        script.defer = true;
        script.src = 'https://cloud.umami.is/script.js';
        script.setAttribute('data-website-id', 'b2490c6f-ff99-459a-9657-a3b886914748');
        document.head.appendChild(script);
      } else {
        console.log('【Umami】开发环境或管理员访问，统计已静默拦截。');
      }
    </script>




</html>
